/* .Duong span {
  user-select: none;
}
.Duong::before {
  content: "css";
}
.Duong:: ::after{
  content: "cvv";
} */
.section-hero{
  margin-top: 10px;
  background-color:white;
  display: flex;
  width: 100%;
}